@use '../../styles/variables' as *;

.text-pressure {
  --pressure-text-color: var(--color-text-primary, #ffffff);
  --pressure-stroke-color: var(--color-primary, #5227FF);

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .stroke span {
    position: relative;
    color: var(--pressure-text-color);

    &::after {
      content: attr(data-char);
      position: absolute;
      left: 0;
      top: 0;
      color: transparent;
      z-index: -1;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: var(--pressure-stroke-color);
    }
  }

  .text-pressure-title {
    color: var(--pressure-text-color);
  }
}
